<div class="home full-height">
    <header class="header">
        <h1><span class="green-text">What The</span> <span class="red-text"> Truck</span></h1>
        <div class="location-name">
            <md-tooltip md-direction="bottom">{{ locationName || 'Middle of Nowhere, Nowhere'}}</md-tooltip>
            <div class="name">{{ locationName }} </div>
        </div>
    </header>
    <loader ng-show="requestQueue.length"></loader>
    <section>
        <truck-map></truck-map>
    </section>
</div>
